@import "../_variables.scss";
@import "../mixins-and-functions";

.article-header {
	margin-bottom: 64px;

	text-align: center;
}

.article-header__dates {
	display: flex;
	margin-top: $gap-4x;

	gap: $gap-4x;
}

.article-header__dates-item {
	display: flex;
	align-items: center;

	gap: $gap-1x;

	font-size: var(--step--1);
}

.article__note {
	position: relative;
	display: flex;

	margin: $gap-5x 0;
	padding: $gap-5x;

	font-size: var(--step--1);

	background: var(--bg-part-color);
	border-radius: 4px;
}

.article__note-text {
	margin: 0;
	padding-left: $gap-8x;

	font-size: var(--step--1);
	word-break: break-word;
}

.article__note-icon {
	display: block;
	position: absolute;
	top: $gap-5x;
}