@import "../_variables.scss";
@import "../mixins-and-functions";

.cards {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	gap: $gap-5x;
}

.cards--w-margin {
	margin-top: $gap-8x;
	margin-bottom: $gap-6x;
}

.cards--in-article {
	margin: 0;
	padding: 0;

	@include media(md) {
		flex-direction: row;
	}
}

.cards__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: $gap-4x;
	gap: $gap-4x;
	background: var(--bg-part-color);
	border-radius: 26px;
	transition: background .3s;

	&:before {
		content: "";
		position: absolute;
	}

	&:hover {
		background: var(--color-hover);
	}

	@include media(md) {
		padding: $gap-10x;
	}
}

.cards__item--compact {
	display: inline-flex;
	padding: $gap-5x;
}

.cards__item-heading {
	margin-top: 0;
}

.cards__item:focus-within:has(:focus-visible) {
	outline: 2px solid var(--border-color);
	outline-offset: 4px;
}

.cards__item-heading-link:focus,
.cards__item-link:focus {
	outline: 0;
}

.cards__item-heading-link,
.cards__item-link {
	font-weight: bold;
	color: inherit;
	border-bottom: 0;
	transition: none;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&:hover {
		color: inherit;
		background: inherit;
		border-bottom: 0;
	}
}

.cards__item-details {
	display: inline-flex;
	align-items: center;
	gap: $gap-2x;
}

.cards__item-description {
	margin: 0;
}

.cards__item-date {
	display: inline-flex;
	align-items: center;
	gap: $gap-1x;
	font-size: var(--step--1);
}