@import "../variables";
@import "../mixins-and-functions";

.cards_heading:has(+ .card) {
	margin-block-end: clamp(1.75rem, 1.332rem + 0.311vw, 2rem);
}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: $gap-20;
}

.card:has(+ .cards__link) {
	margin-block-end: clamp(1.25rem, 0.932rem + 0.311vw, 1.5rem);
}

.card--in-article {
	padding-block: 0;
	padding-inline: 0;

	@include media(md) {
		flex-direction: row;
	}
}

.card__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: clamp(1.5rem, 0.928rem + 1.243vw, 2.5rem);
	gap: $gap-16;
	background: var(--bg-part-color);
	border-radius: $radius-26;

	&:before {
		content: "";
		position: absolute;
	}

	&:hover {
		background: var(--color-hover);
	}
}

.card__item--compact {
	display: inline-flex;
	padding: $gap-20;
}

.card__heading {
	padding-block: 0;
	margin-block-end: clamp(0.625rem, 0.466rem + 0.155vw, 0.75rem);
}

.card__item:focus-within {
	@include focus (
		$width: $gap-4,
		$offset: 2px
	);
}

.card__heading-link,
.card__item-link {
	font-weight: bold;
	color: inherit;
	border-bottom: 0;

	&:after {
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&:hover {
		color: inherit;
		background: inherit;
		border-bottom: 0;
		transition: none;
	}

	&:focus-visible {
		outline: 0;
	}
}

.card__item-details {
	display: inline-flex;
	align-items: center;
	gap: $gap-8;
}

.card__item-details__ico {
	width: 1rem;
	height: auto;
	stroke: currentColor;
}

.card__description {
	margin-block: 0;
	padding-block: 0;
}

.card__footer {
	display: flex;
	flex-direction: column;
	margin-block-start: $gap-8;
	gap: $gap-8;
}

.card__date {
	display: inline-flex;
	align-items: center;
	margin-block: 0;
	padding-block: 0;
	gap: $gap-4;
	font-size: var(--step--1);
}
