@import "../_variables.scss";
@import "../mixins-and-functions";

.footer {
	display: flex;
	flex-direction: column;
	
	margin-top: $gap-29x;
	
	color: $text-footer-color;
}

.footer__wave {
	fill: $footer-bg;
}

.content__footer {
	max-width: 100%;
	
	padding: 0;
}

.footer__copyright {
	padding: $gap-7x 0 $gap-13x;
	font-size: var(--step-0);
	
	text-align: center;
	
	background: $footer-bg;
	
}

.footer__info {
	display: block;
	
	&:not(:last-of-type) {
		margin-bottom: $gap-2x;
	}
}
