@import "../variables";
@import "../mixins-and-functions";

.footer__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: $gap-116;
	padding-bottom: $gap-48;
	gap: $gap-16;
}

.footer__info-column,
.footer__links-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: $gap-8;

	@include media(sm) {
		gap: unset;
	}
}

.footer__info-text {
	font-size: var(--step--1);
	line-height: $line-height-small;
}
