@import "../variables";
@import "../mixins-and-functions";

$footer-gap-start: clamp(5.5625rem, 3.991rem + 2.097vw, 7.25rem);
$footer-gap-inner: clamp(0.875rem, 0.666rem + 0.155vw, 1rem);
$footer-gap-end: clamp(2.375rem, 1.73rem + 0.777vw, 3rem);

.footer__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: $footer-gap-start;
	padding-bottom: $footer-gap-end;
	gap: $footer-gap-inner;
}

.footer__info-column,
.footer__links-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: $gap-8;

	@include media(sm) {
		gap: unset;
	}
}
