@import "../_variables.scss";
@import "../mixins-and-functions";

.logo {
	display: inline-flex;
	align-items: flex-end;
	height: 80px;
	border-bottom: 0;

	&:hover {
		background: inherit;
	}

	&:hover .logo__image {
		fill: var(--menu-elements-color-hover);
	}

	&:focus-visible {
		outline-offset: -2px;
	}

	@include media(lg) {
		height: 120px;
	}
}

.logo__svg {
	height: calc(100% + 20px);
	fill: none;

	@include media(lg) {
		height: calc(100% + 40px);
	}
}

.logo__svg-path {
	fill: #{$fuchsia};
}