@import "../_variables.scss";
@import "../mixins-and-functions";

$logo-width-big: 62px;
$logo-width-small: 54px;

.logo {
	display: flex;
}

.logo__image {
	width: $logo-width-small;
	height: auto;
	
	@include media(lg) {
		width: $logo-width-big;
	}
}

.logo__image {
	fill: $icon-logo-color;
	// Fix for high contrast mode
	forced-color-adjust: auto;
	
	transition: fill .2s;
}

.nav .logo__link {
	display: inline-flex;
	
	border-bottom: 0;
	
	&:hover {
		background: inherit;
	}
	
	&:hover .logo__image {
		fill: $link-icon-color--hover;
	}
}
