@import "../_variables.scss";
@import "../mixins-and-functions";

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 100%;
	padding-right: $gap-2x;
}

.nav__list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.nav__list-img {
	fill: currentColor;
	// Fix for high contrast mode
	forced-color-adjust: auto;
}

.nav .nav__list-link {
	display: inline-flex;
	align-items: center;
	position: relative;
	
	width: 100%;
	padding: $gap-5x;
	
	line-height: $line-height-menu-link;
	
	border-bottom: 0;

	transition: color .2s;

	&:hover {
		background: inherit;
		color: var(--menu-elements-color-hover);
	}
}

.nav__list-text {
	padding-left: $gap-2x;
}
