@import "../variables";
@import "../mixins-and-functions";

$line-height-menu-link: 1.7;

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	gap: $gap-16;

	@include media(lg) {
		justify-content: space-between;
	}
}

.navigation__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation__list-item {
	margin: 0;
	padding: 0;
}

.navigation__list-item-link {
	height: 54px;
	display: inline-flex;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 0 $gap-12;
	gap: $gap-8;
	line-height: $line-height-menu-link;
	border: 1px solid transparent;
	border-radius: $radius-16;

	&:hover {
		background: inherit;
		border-color: var(--menu-elements-color-hover);
	}

	@include media(lg) {
		padding: $gap-12 $gap-16;
	}
}

.navigation__list-item-ico {
	width: 2rem;
	height: auto;
	stroke: currentColor;
}
