@import "../_variables.scss";
@import "../mixins-and-functions";

.topic-list {
	display: flex;
	flex-wrap: wrap;
	gap: $gap-1x;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.topic-list--article {
	justify-content: center;
}

.topic-list--card {
	margin: 0 0 $gap-3x;
}

.topic-list__item {
	padding: 4px 8px;	
	font-size: var(--step--2);
	color: var(--text-color);	
	border: 1px solid var(--border-color);
	border-radius: 10px;
}
