@import "../variables";
@import "../mixins-and-functions";

.header__switcher {
	height: 54px;
	display: flex;
	flex: 0 0 auto;
	gap: 4px;
	padding: 4px;
	border: 2px solid var(--bg-part-color);
	border-radius: $radius-16;
	user-select: none;
}

.header__switcher-button {
	margin: 0;
	padding: $gap-12 $gap-16;
	font-size: inherit;
	border-radius: $radius-10;
	color: var(--text-color);
	background: transparent;
	cursor: pointer;
	border: 1px solid transparent;

	&[aria-pressed="true"]:focus-visible {
		@include focus (
			$offset: -7px,
			$color: var(--button-text-color)
		);
	}

	&[aria-pressed="false"]:focus-visible {
		@include focus (
			$offset: -3px,
		);
	}

	@include media(lg) {
		padding: $gap-8 $gap-12;
	}
}

.header__switcher-button[aria-pressed="true"] {
	color: var(--button-text-color);
	background: var(--button-bg-color);

	&:hover {
		color: var(--button-text-color);
	}
}

.header__switcher-button[aria-pressed="false"] {
	color: inherit;

	&:hover {
		border: 1px solid var(--menu-elements-color-hover);
	}
}
