@import "../_variables.scss";
@import "../mixins-and-functions";

.header__switcher {
	display: flex;
	padding: $gap-1x;
	padding-inline: $gap-1x;

	border: 3px solid var(--border-color);
	border-radius: 32px;

	user-select: none;
}

.header__switcher-button {
	margin: 0;
	padding: $gap-3x $gap-4x;
	border: 2px solid transparent;
	border-radius: 32px;

	color: var(--text-color);
	background: transparent;
	cursor: pointer;

	transition: background .2s;

	&:nth-last-child(1) {
		border-radius: 3px 32px 32px 3px;
	}

	&:nth-last-child(2) {
		border-radius: 32px 3px 3px 32px;
	}

	&:focus-visible {
		outline: 2px solid var(--border-color);
		outline-offset: 1px;
	}
}

.header__switcher-button[aria-pressed="true"] {
	color: var(--button-text-color);
	background: var(--button-bg-color);
}

.header__switcher-button[aria-pressed="false"] {
	color: inherit;

	&:hover {
		color: var(--button-text-color);
		background: var(--menu-elements-color-hover);
	}
}