<article class="cards__item">
	<h3 class="cards__item-heading">
		<a class="cards__item-heading-link" href="{{ article.url }}">{{ article.data.title }}</a>
	</h3>
	<p class="cards__item-description">{{ article.data.description }}</p>
	<footer>
		<ul class="topics topics--in-card">
			{% for tag in article.data.keyTheme %}
				<li class="topics__item">{{ tag }}</li>
			{% endfor %}
		</ul>
		<div class="cards__item-date">
			{% include "../assets/ico-published.svg" %}
			<time datetime="{{ article.date | dateFormat("ISO") }}">{{ article.data.date | dateFormat("readable") }}</time>
		</div>
	</footer>
</article>