<footer>
	<div class="footer wrapper">
		<div class="footer__column">
			<span aria-hidden="true">ʢ·͡ᴥ·ʡ∩๐า╭∩าﾉ\</span>
			<small>{{ "name" | translate }}, 2021–{% currentYear %}</small>
		</div>
		<div class="footer__column">
			<small>
				{{ "developed" | translate }} <a href="{{ links.copyright.eleventy }}">11ty</a>, {{ "icons from" | translate }} <a href="{{ links.copyright.lucide }}">Lucide</a>
			</small>
			<small>
				{{ "github repo" | translate }} <a href="{{ links.public.github }}">GitHub</a>
			</small>
		</div>
	</div>
</footer>
