<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description or site.description }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

{% set isHomePage = page.url === '/' %}
<title>
	{% if isHomePage %}
		{{ 'site name' | translate }}
	{% else %}
		{{ title }} — {{ 'site name' | translate }}
	{% endif %}
</title>

<link rel="alternate" hreflang="{{ page.lang }}" href="{{ site.url }}{{ page.url }}" />
{% for link in page.url | locale_links %}
	{% if link.url %}
		<link 
			rel="alternate"
			hreflang="{{ link.lang }}"
			href="{{ site.url }}{{ link.url }}">
	{% endif %}		
{% endfor %}