{% set ogImageDefault = "og image" | translate %}
{% set ogImage = page.ogImage or ogImageDefault %}

<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ ogImage }}">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:site" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:image" content="{{ ogImage }}">
