<nav class="nav">
	{% include "logo.njk" %}

	<ul class="nav__list">
		<li class="nav__list-item">
			{# Path and other language and text for reference #}
			{% if page.lang == "en" %}
				{% set targetLang = "ru" %}
				{% set langLabel = "Русский" %}
			{% else %}
				{% set targetLang = "en" %}
				{% set langLabel = "English" %}
			{% endif %}

			{# If we have such a page in another language, then we set the value of the variable #}
			{% set targetURL = null %}
			{% for link in page.url | locale_links %}
				{% if link.url %}
					{% set targetURL = link.url %}
				{% endif %}		
			{% endfor %}

			<a class="nav__list-link" href="{{ targetURL if targetURL else ("/" ~ targetLang ~ "/") }}">
				{% include "../assets/ico-language.svg" %}
				<span class="nav__list-text" lang="{{ targetLang }}">{{ langLabel }}</span>
			</a>
		</li>
		<li class="nav__list-item">
			<a class="nav__list-link" href="{{ links.social.rss }}">
				{% include "../assets/ico-rss.svg" %}
				<span class="nav__list-text">RSS</span>
			</a>
		</li>
	</ul>
</nav>

{% include "theme-switcher.njk" %}
