{%- set nextPost = collections.post | getNextCollectionItem(page) %}
{%- set previousPost = collections.post | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
	<ul class="cards cards--in-post">
		{%- if nextPost %}
			<li class="card card--short">
				<a href="{{ nextPost.url | url }}" class="card__title-link" >{{ nextPost.data.title }}</a>
				<span class="card__description card__description--in-post">
					{{ 'next article' | translate }} →
				</span>
			</li>
		{% endif %}
		{%- if previousPost %}
			<li class="card card--short">
				<a href="{{ previousPost.url | url }}" class="card__title-link">{{ previousPost.data.title }}</a>
				<span class="card__description card__description--in-post">
					← {{ 'previous article' | translate }}
				</span>
			</li>
		{% endif %}
	</ul>
{%- endif %}
