<section class="header__switcher" aria-label="Тема">
	<button class="header__switcher-button" aria-pressed="true" value="light">{{ 'light' | translate }}</button>
	<button class="header__switcher-button" aria-pressed="false" value="dark">{{ 'dark' | translate }}</button>
</section>