<!DOCTYPE html>
<html class="page" lang="ru">
<head>
	{% if page.url == "/" %}
		{% set isIndex = true %}
	{% else %}
		{% set titleSub = " — Блог Татьяны Фокиной" %}
		{% set isIndex = false %}
	{% endif %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ description or site.description }}">
	<title>{{ title or site.title }}{{ titleSub }}</title>
	{% include "open-graph.njk" %}
	<script type="module" src="/scripts/scripts.js"></script>
	<link rel="stylesheet" href="/styles/styles.css">
	{#Favicons#}
	<link rel="icon" sizes="32x32" href="/assets/favicons/favicon.ico" type="image/png" >
	<link rel="icon" href="/assets/favicons/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
	<link rel="manifest" href="/manifest.json">
	{#Yandex.Metrika#}
	<script type="text/javascript"> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(83045434, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/83045434" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>
<body class="body" data-theme="light">
	{% include "header.njk" %}

	{{ content | safe }}

	{% include "footer.njk" %}

</body>
</html>
