---
layout: page.njk
---

<div class="container">
	<div class="content">
		<main class="main">

			<div class="post-inf">
				<h1 class="post-name">{{ title }}</h1>

				<ul class="tags-list tags-list--post">
					{%- for tag in keyTheme -%}
						<li class="tag">{{ tag }}</li>
					{%- endfor -%}
				</ul>

				<span class="post-date">
					🕠 <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
				</span>
			</div>

			<div class="post">
				{{ content | safe }}
			</div>

		</main>

		<h2 class="second-heading">Другие посты</h2>
		{% include "post-navigation.njk" %}

	</div>
</div>
