@use 'sass:math';
@import "variables";

// @media
@mixin media($widthName) {
	$width: map-get($breakpoints, $widthName);
	@media (width >= $width) {
		@content;
	}
}

// Outline styles
@mixin focus($width: 3px, $offset, $color: var(--border-color), $style: dotted) {
	outline-width: $width;
	outline-offset: $offset;
	outline-style: $style;
	outline-color: $color;
}

// Typography
// Usage example: --step-4: #{toRem(14px)};
$font-size-base: 16px;

@function fromPx($value) {
	@return math.div($value, $value * 0 + 1);
}

@function toRem($size) {
	@return #{math.div(fromPx($size), fromPx($font-size-base))}rem;
}