// Colors
$midnight-purple: #25023d;
$light-beige: #cecec3;
$dark-beige: #e6e6d9;
$approx-indigo: #37005c;
$dust-storm: #ddc8a5;
$purple: #48116d;
$transperent-beige: #ff972f1d;
$transperent-purple: #b655f628;
$light-purple: #6200a3;
$light-sky-blue: #cf86ff;

// Images
$img-filter: unset;
$img-filter--dark: brightness(.8) contrast(1.2);




// Font
$text-font-family: "IBM Plex Sans", "Arial", "Helvetica", sans-serif;
$code-font-family: "IBM Plex Mono", "Courier New", monospace;

$font-size-base: 20px;

$line-height-base: 1.6; // 32px
$line-height-h1: 1.318; // 58px
$line-height-h2: 1.263; // 48px
$line-height-h3: 1.285; // 36px
$line-height-h4: 1.5; // 24px
$line-height-menu-link: 1.7;




// Gaps
$gap-1x: 4px;
$gap-2x: $gap-1x * 2; // 8px
$gap-3x: $gap-1x * 3; // 12px
$gap-4x: $gap-1x * 4; // 16px
$gap-5x: $gap-1x * 5; // 20px
$gap-6x: $gap-1x * 6; // 24px
$gap-7x: $gap-1x * 7; // 28px
$gap-8x: $gap-1x * 8; // 32px
$gap-9x: $gap-1x * 9; // 36px
$gap-10x: $gap-1x * 10; // 40px
$gap-12x: $gap-1x * 12; // 48px
$gap-13x: $gap-1x * 13; // 52px
$gap-29x: $gap-1x * 29; // 116px




// Grid breakpoints and container min-widths
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container-widths: (
	sm: 540px,
	md: 780px,
	lg: 960px,
	xl: 1020px,
	xxl: 1320px
);




// Z-index
$z-index: 1;
