// Colors
$beige-1: #dae3e4;
$beige-2: #c8d5d6;

$green-1: #b7caca;

$blue-1: #d0dceb;
$blue-2: #b8c9de;
$blue-3: #a1b5cc;
$blue-4: #859ab4;
$blue-5: #6e829b;
$blue-6: #566c87;
$blue-7: #435872;
$blue-8: #2f445d;
$blue-9: #1b2c41;
$blue-10: #14202f;

$accent-color-1: #c7759e;
$accent-color-2: #b3a8db;
$fuchsia-alpha: #c7759e3a;

// Images
$img-filter: unset;
$img-filter--dark: brightness(.8) contrast(1.2);

// Gaps
$gap-2: 2px;
$gap-4: 4px;
$gap-8: 8px;
$gap-12: 12px;
$gap-16: 16px;
$gap-20: 20px;
$gap-24: 24px;
$gap-26: 26px;
$gap-28: 28px;
$gap-32: 32px;
$gap-40: 40px;
$gap-44: 44px;

// Borders
$radius-4: 4px;
$radius-8: 8px;
$radius-10: 10px;
$radius-16: 16px;
$radius-24: 24px;
$radius-26: 26px;
$radius-32: 32px;

// Grid breakpoints and container min-widths
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container-widths: (
	sm: 540px,
	md: 780px,
	lg: 960px,
	xl: 1020px,
	xxl: 1320px
);
