<!DOCTYPE html>
<html class="page" lang="{{ page.lang }}">
<head>
	{% include "head_seo.njk" %}
	{% include "head_open-graph.njk" %}
	<script defer src="{{ "/scripts/bundle.js" | filehash }}"></script>
	<link rel="stylesheet" href="{{ "/styles/styles.css" | filehash }}">
	{% include "head_favicons.njk" %}

	{% if env === "production" %}
		{#Yandex.Metrika#}
		<script type="text/javascript"> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(83045434, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/83045434" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<script defer="defer" data-domain="tatiana-fokina-blog.ru" src="https://analytics.vasiliy-dudin.com/js/script.js" type="text/javascript"></script>
		{# Google tag (gtag.js) #}
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-K4Y8SCKT8V"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-K4Y8SCKT8V');
		</script>
	{% endif %}	
</head>

<body class="body" data-theme="light">
	{% include "header.njk" %}
	<div class="container">
		<div class="content">
			<main class="main">
				{{ content | safe }}
			</main>
		</div>
	</div>
	{% include "footer.njk" %}

</body>
</html>
