---
layout: _base.njk
---

<header class="article-header">
	<h1>{{ title }}</h1>

	<ul class="topics topics--in-article">
		{% for tag in keyTheme %}
			<li class="topics__item">{{ tag }}</li>
		{% endfor %}
	</ul>

	<div class="article-header__date">
		{% include "../assets/ico-published.svg" %}
		{{ 'published' | translate }}
		<time datetime="{{ date | dateFormat("ISO") }}">{{ date | dateFormat("readable") }}</time>
		{% if updated %},
			{{ 'updated' | translate }}
			<time datetime="{{ updated | dateFormat("ISO") }}">{{ updated | dateFormat("readable") }}</time>
		{% endif %}
	</div>
</header>

<div class="article">
	{{ content | safe }}
</div>

<section aria-labelledby="heading">
	<h2 id="heading">{{ 'other articles' | translate }}</h2>
	{% include "article-navigation.njk" %}
</section>