---
layout: _base.njk
---

<div class="article-inf">
	<h1 class="heading heading--first">{{ title }}</h1>

	<ul class="topic-list topic-list--article">
		{% for tag in keyTheme %}
			<li class="topic-list__item">{{ tag }}</li>
		{% endfor %}
	</ul>

	<span class="article-date">
		<span aria-hidden="true">🕠</span>
		{{ 'published' | translate }} — <time datetime="{{ date | dateFormat("ISO") }}">{{ date | dateFormat("readable") }}</time>{% if updated %}, {{ 'updated' | translate }} — <time datetime="{{ updated | dateFormat("ISO") }}">{{ updated | dateFormat("readable") }}</time>{% endif %}
	</span>
</div>

<div class="article">
	{{ content | safe }}
</div>

<section aria-labelledby="heading">
	<h2 id="heading" class="heading heading--second">{{ 'other articles' | translate }}</h2>
	{% include "article-navigation.njk" %}
</section>