---
layout: _base.njk
---

{{ content | safe }}

<section class="cards__list" aria-labelledby="label">

	<h2 class="cards_heading" id="label">
		{{ "latest (heading)" | translate }}
	</h2>

	{% set collectionName = "articles" + page.lang.charAt(0).toUpperCase() + page.lang.slice(1) %}
	{% set articleslist = collections[collectionName] | slice(3) %}

	<div class="card">
		{% for article in articleslist %}
			{% include "card.njk" %}
		{% endfor %}
	</div>

	{% set maxArticles = articleslist.length | min(3) %}
	{% if maxArticles === 3 %}
		<a class="cards__link" href="/{{ page.lang }}/articles/">
			{{ "all articles (link)" | translate }}
		</a>
	{% endif %}
</section>
