---
layout: _base.njk
---

<div class="post-inf">
	<h1 class="post-name">{{ title }}</h1>

	<ul class="tags-list tags-list--post">
		{%- for tag in keyTheme -%}
			<li class="tag">{{ tag }}</li>
		{%- endfor -%}
	</ul>

	<span class="post-date">
		<span aria-hidden="true">🕠</span>
		{{ 'published' | translate }}: <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
	</span>
</div>

<div class="post">
	{{ content | safe }}
</div>

<section aria-labelledby="heading">
	<h2 id="heading" class="second-heading">{{ 'other articles' | translate }}</h2>
	{% include "post-navigation.njk" %}
</section>