---
layout: _base.njk
---

{%- set langCollection = 'posts' + page.lang.charAt(0).toUpperCase() + page.lang.slice(1) -%}
{%- set postslist = collections[langCollection] -%}
<div class="cards">
	{{ [page.lang] }}
	{%- for post in collections[langCollection] -%}
		{% include "card.njk" %}
	{%- endfor -%}
</div>