@media (prefers-reduced-motion: no-preference) {
	a {
		transition: background .15s;
	}

	.header__switcher-button {
		transition: background .15s;
	}

	.navigation__list-item-link {
		transition: color .15s;
	}

	.cards__item {
		transition: background .15s;
	}
}
