@media (prefers-reduced-motion: no-preference) {
	a {
		transition: background .15s;
	}

	.header__switcher-button {
		transition: background .15s;
	}

	.navigation__link {
		transition: color .15s;
	}

	.card__item {
		transition: background .15s;
	}
}
