@import "../_variables.scss";

// Light theme
.base[data-theme="light"] {
	--decorative-el-color: #{$purple-alpha};
	--bg-color: #{$beige-2};
	--bg-part-color: #{$beige-1};
	--text-color: #{$purple-8};
	--code-color: #{$purple-2};
	--border-color: #{$purple-6};
	--color-hover: #{$beige-3};
	--menu-elements-color-hover: #{$purple-5};
	--button-bg-color: #{$purple-8};
	--button-text-color: #{$beige-2};
	--img-filter: #{$img-filter};
}

// Dark theme
.base[data-theme="dark"] {
	--decorative-el-color: #{$purple-alpha};
	--bg-color: #{$purple-10};
	--bg-part-color: #{$purple-8};
	--text-color: #{$beige-3};
	--code-color: #{$purple-8};
	--border-color: #{$beige-2};
	--color-hover: #{$purple-9};
	--menu-elements-color-hover: #{$purple-4};
	--button-bg-color: #{$beige-2};
	--button-text-color: #{$purple-7};
	--img-filter: #{$img-filter--dark};
}