@import "../_variables.scss";
@import "../mixins-and-functions";

// High contrast mode
@media (forced-colors: active) {
	::selection {
		background: Highlight;
	}

	a:hover {
		color: Canvas;
		background-color: CanvasText;
	}

	.cards__item {
		border: 2px solid transparent;
	}

	.cards__item:focus-within:has(:focus-visible) {
		outline: 2px solid transparent;
	}

	.logo__link-svg-path {
		fill: none;
	}
}

// Inverted colors mode
@media (inverted-colors) {
	.wrapper img,
	.wrapper video {
		filter: invert(100%);
	}
}