@import "../_variables.scss";
@import "../mixins-and-functions";

// High contrast mode
@media (forced-colors) {
	.card {
		border: 2px solid transparent;
	}

	.card:focus-within:has(:focus-visible) {
		outline: 2px solid transparent;
	}
}




// Inverted colors mode
@media (inverted-colors) {
	.wrapper img,
	.wrapper video {
		filter: invert(100%);
	}
}
