@import "../variables";
@import "../mixins-and-functions";

.visually-hidden {
	position: absolute;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.invisible-anchor {
	position: relative;
	top: 0;

	@include media(md) {
		top: -$gap-40;
	}
}
