@import "../variables";
@import "../mixins-and-functions";

h1 {
	margin-top: 0;
	margin-bottom: fluidSizes($gap-14, $gap-24);
}

h2 {
	margin: fluidSizes($gap-36, $gap-44) 0 fluidSizes($gap-15, $gap-16);
}

h3 {
	margin: fluidSizes($gap-32, $gap-28) 0 fluidSizes($gap-14, $gap-15);
}

h4 {
	margin: fluidSizes($gap-24, $gap-28) 0 fluidSizes($gap-12, $gap-14);
}