@import "../mixins-and-functions";
@import "../variables";

*, *::before, *::after {
	margin: 0;
	box-sizing: border-box;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: var(--text-color);
	background: var(--bg-color);
}

.layout__body {
	flex: 1 0 auto;
}

.layout__main {
	margin-block-start: clamp(3.25rem, 2.464rem + 0.621vw, 3.75rem);
}

.wrapper {
	max-width: map-get($container-widths, md);
	width: 100%;
	margin: 0 auto;
	padding: 0 $gap-20;
}
