@import "../_variables.scss";
@import "../mixins-and-functions";

*, *::before, *::after {
	margin: 0;
	box-sizing: border-box;
}

.page {
	font-size: $font-size-base;
}

.base {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: $text-font-family;
	font-size: var(--step-0);
	line-height: $line-height-base;
	color: var(--text-color);
	background: var(--bg-color);
	transition: all 1s;
}

.wrapper {
	width: 100%;
	max-width: map-get($container-widths, md);
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: $gap-5x;
	padding-right: $gap-5x;
}

.base__body {
	flex: 1 0 auto;
	padding-top: 60px;
}