@import "../_variables.scss";
@import "../mixins-and-functions";

$container-margin-top: 60px;
$container-margin-top-mobile: 60px;

* {
	box-sizing: border-box;
	color: inherit;
}

.page {
	font-size: $font-size-base;
}

.body {
	//- Sticky footer
	display: flex;
	flex-direction: column;
	height: 100vh;
	
	margin: 0;
	
	font-family: $text-font-family;
	font-size: var(--step-0);
	line-height: $line-height-base;
	color: $text-color;
	
	background-color: $bg-color;
}




// Container and content classes
.container {
	//- Sticky footer
	flex: 1 0 auto;
	
	margin-top: $container-margin-top;
}

.content {
	width: 100%;
	max-width: map-get($container-widths, md);
	
	margin: 0 auto;
	
	padding-left: $gap-5x;
	padding-right: $gap-5x;
}
