@import "../_variables.scss";

a {
	text-decoration: none;
	color: var(--text-color);
	border-bottom: 2px solid var(--border-color);

	&:hover {
		background: var(--color-hover);
	}

	&:focus-visible {
		outline: 2px solid var(--border-color);
		outline-offset: 2px;
	}
}