@import "../variables";

a {
	color: var(--text-color);
	border-bottom: 2px solid var(--border-color);
	text-decoration: none;

	&:hover {
		background: var(--color-hover);
	}

	&:focus-visible {
		@include focus (
			$offset: 2px
		);
		border-bottom: 0;
	}
}
