@import "../_variables.scss";
@import "../mixins-and-functions";

$code-padding: 2px;

.content p {
    margin: $gap-5x 0;
    
    font-size: var(--step-0);
    line-height: $line-height-base;
    
    &:first-child {
        margin-top: 0;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
}

.content hr {
    display: inline-block;
    
    width: 100%;
    margin: $gap-8x 0;
    
    border: 1px solid $hr-color;
}

::selection {
    background: $selection-color;
}




// Figure and figcaption
.content figure {
    margin: 0;
}

.content figcaption {
    margin: $gap-2x 0 $gap-5x;
    
    font-size: var(--step--1);
}




// Small, code, pre and kbd
.content small {
    font-size: var(--step--1);
}

.content code {
    padding: $code-padding;
    
    font-family: $code-font-family;
    font-size: var(--step--1);
    word-wrap: break-word;
    color: $code-snippet-color;
    
    background: $code-snippet-bg;
    border-radius: 4px;
}

.content pre code {
    display: block;
    
    padding: $gap-9x;
    
    overflow-x: auto;
}

// Kbd
.content kbd {
    font-family: $code-font-family;
}

// Samp
.content samp {
    font-family: $text-font-family;
}

// Blockquote
.content blockquote {
    border-left: 4px solid $blockquote-border;
    
    word-wrap: break-word;
}

.content blockquote,
.content blockquote ol,
.content blockquote ul {
    margin: 0;
    padding-left: $gap-6x;
}
