@import "../_variables.scss";
@import "../mixins-and-functions";

$code-padding-big: .15rem;
$code-padding-small: 0.03rem;
$hr-height: 15px;

::selection {
	background: var(--select-color);
}

p {
	margin: $gap-5x 0;
	line-height: $line-height-base;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

hr {
	position: relative;
	display: inline-block;
	width: 100%;
	height: $hr-height;
	margin: $gap-10x auto;
	border: 0;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: $hr-height;
		background-image: url("../assets/wave.svg");
		background-repeat: no-repeat;
		background-position: center;
	}
}

hr + p {
	margin-top: 0;
}

figure {
	margin: 0;
}

figcaption {
	padding-top: $gap-2x;
	font-size: var(--step--1);
}

figure + figure {
	margin-top: $gap-10x;
}

ul + figure,
ol + figure {
	margin-top: $gap-5x;
}

ul:has(a) li {
	padding: 3px 0;
}

small {
	font-size: var(--step--1);
}

code {
	padding: $code-padding-big;
	font-family: $code-font-family;
	font-size: var(--step--1);
	word-wrap: break-word;
	color: var(--text-color);
	background: var(--code-color);
	border-radius: 4px;
}

a > code {
	padding: $code-padding-small;
}

pre code {
	display: block;
	padding: $gap-9x;
	overflow-x: auto;
}

pre + ul {
	padding-top: $gap-5x;
}

kbd {
	font-family: $code-font-family;
}

samp {
	font-family: $text-font-family;
}

blockquote {
	border-left: 4px solid var(--border-color);
	word-wrap: break-word;
}

blockquote,
blockquote ol,
blockquote ul {
	margin: 0;
	padding-left: $gap-6x;
}