@import "../variables";
@import "../mixins-and-functions";

$hr-height: 15px;

::selection {
	background: var(--select-color);
}

p {
	margin: fluidSizes($gap-4, $gap-8) 0;
}

hr {
	position: relative;
	display: inline-block;
	width: 100%;
	height: $hr-height;
	margin: fluidSizes($gap-48, $gap-56) auto fluidSizes($gap-20, $gap-28);
	border: 0;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: $hr-height;
		background-image: url("../assets/wave.svg");
		background-repeat: no-repeat;
		background-position: center;
	}
}

ul,
ol {
	margin: 0;
}

ul:has(a) li {
	padding: 3px 0;
}

code {
	padding: $gap-4;
	word-wrap: break-word;
	color: var(--text-color);
	background: var(--code-color);
	border-radius: $radius-4;
}

a > code {
	padding-bottom: 1px;
}

figure {
	display: block;
	margin: 0;
	padding: 0;
}

blockquote {
	margin: $gap-20 0;
	border-left: 4px solid var(--border-color);
	word-wrap: break-word;
}

blockquote p {
	padding-left: $gap-24;
}

h1 {
	margin: 0 0 fluidSizes($gap-14, $gap-24);
}

h2 {
	margin: fluidSizes($gap-36, $gap-44) 0 fluidSizes($gap-15, $gap-16);
}

h3 {
	margin: fluidSizes($gap-32, $gap-28) 0 fluidSizes($gap-14, $gap-15);
}

h4 {
	margin: fluidSizes($gap-24, $gap-28) 0 fluidSizes($gap-12, $gap-14);
}
