@import "../_variables.scss";
@import "../mixins-and-functions";

$code-padding: 2px;

p {
    margin: $gap-5x 0;
    
    font-size: var(--step-0);
    line-height: $line-height-base;
    
    &:first-child {
        margin-top: 0;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
}

.wrapper hr {
    border: 0;
    display: block;
    height: 2px;
    width: 20%;
    margin: $gap-12x auto;
    background: var(--text-color);
}

::selection {
    background: var(--decorative-el-color);
}




// Figure and figcaption
.wrapper figure {
    margin: 0;
}

.wrapper figcaption {
    margin: $gap-2x 0 $gap-5x;
    
    font-size: var(--step--1);
}




// Small, code, pre and kbd
.wrapper small {
    font-size: var(--step--1);
}

.wrapper code {
    padding: $code-padding;
    
    font-family: $code-font-family;
    font-size: var(--step--1);
    word-wrap: break-word;
    color: var(--text-color);
    
    background: var(--code-color);
    border-radius: 4px;
}

.wrapper pre code {
    display: block;
    
    padding: $gap-9x;
    
    overflow-x: auto;
}

// Kbd
.wrapper kbd {
    font-family: $code-font-family;
}

// Samp
.wrapper samp {
    font-family: $text-font-family;
}

// Blockquote
.wrapper blockquote {
    border-left: 4px solid var(--border-color);
    
    word-wrap: break-word;
}

.wrapper blockquote,
.wrapper blockquote ol,
.wrapper blockquote ul {
    margin: 0;
    padding-left: $gap-6x;
}
