@import "../mixins-and-functions";

:root {
	--step-3: #{toRem(32px)};
	--step-2: #{toRem(28px)};
	--step-1: #{toRem(23px)};
	--step-0: #{toRem(17px)};
	--step--1: #{toRem(15px)};
	--step--2: #{toRem(10px)};

	@include media(md) {
		--step-3: #{toRem(44px)};
		--step-2: #{toRem(38px)};
		--step-1: #{toRem(28px)};
		--step-0: #{toRem(20px)};
		--step--1: #{toRem(16px)};
		--step--2: #{toRem(14px)};
	}
}