---
title: Страница не найдена
description: Несуществующая страница.
layout: page.njk
permalink: 404.html
---

<div class="container">
	<div class="content">
		<main class="main" id="main-content">

			<h1>Страница не найдена {% hiddenSpan "🙁" %}</h1>
			<p>Скорее всего, такой страницы не существует.</p>
			<p><a href="/">Вернуться на главную</a></p>
		</main>
	</div>
</div>
