---
layout: page.njk
permalink: index.html
---

<div class="container">
	<div class="content">
		<main class="main" id="main-content">
			<h1 class="visually-hidden">О блоге и последние посты</h1>

			<div class="about-blog">
				<p>Привет, меня зовут Таня. Я веб-разработчица, которая любит делать всякие штуки для веба, цифровую доступность и&nbsp;рассказывать об&nbsp;этом другим. Кроме этого организую <a href="{{ links.public.pitera11y }}" target="_blank" rel="noopener noreferrer">петербургский митап pitera11y_meetup</a>, пишу и&nbsp;перевожу статьи.</p>
				<p>В этом блоге делюсь советами, полезными ссылками, своими мыслями и&nbsp;просто интересными находками о&nbsp;доступной разработке ✨</p>
			</div>

			<h2 class="second-heading">Последние посты</h2>

			{% set maxPosts = collections.post.length | min(3) %}
			{% set postslist = collections.post | slice(-3) %}
			<div class="cards cards--w-margin">
				{% include "card.njk" %}
			</div>

			{% if maxPosts === 3 %}
				<a class="all-posts-link" href="{{ '/posts' | url }}">Ко всем постам</a>
			{% endif %}

		</main>
	</div>
</div>
