---
layout: page.njk
permalink: index.html
---

<div class="container">
	<div class="content">
		<main class="main" id="main-content">
			<h1 class="visually-hidden">О блоге «Код без барьеров» и последние посты</h1>

			<div class="about-blog">
				<p>Привет, я Таня — веб-разработчица, которая любит веб, разработку, доступность и рассказывает об этом другим. Кроме этого организую <a href="{{ links.public.pitera11y }}" target="_blank" rel="noopener noreferrer">петербургский митап pitera11y__meetup</a> и пишу и перевожу статьи для <a href="{{ links.public.webStandards }}" target="_blank" rel="noopener noreferrer">Веб-стандартов</a>.</p>
				<p>В этом блоге буду делиться находками и советами о доступной разработке ✨</p>
			</div>

			<h2 class="second-heading">Последние посты</h2>

			{% set maxPosts = collections.post.length | min(3) %}
			{% set postslist = collections.post | slice(-3) %}
			<div class="cards cards--w-margin">
				{% include "card.njk" %}
			</div>

			{% if maxPosts === 3 %}
				<a class="all-posts-link" href="{{ '/posts/' | url }}">Ко всем постам</a>
			{% endif %}

		</main>
	</div>
</div>
