---
layout: page.njk
permalink: index.html
---

<div class="container">
	<div class="content">
		<main class="main">
			<h1 class="visually-hidden">О блоге и последние посты</h1>

			<div class="about-blog">
				<p>Привет, меня зовут Таня. Я фронтенд-разработчица, которая любит делать всякие штуки для веба, цифровую доступность и&nbsp;рассказывать об&nbsp;этом другим. Кроме этого организовывала <a href="{{ links.public.pitera11y }}">петербургский митап pitera11y_meetup</a>, пишу и&nbsp;перевожу статьи, а ещё редачу в <a href="{{ links.public.doka }}">Доке</a> — справочнике для разработчиков.</p>
				<p>В этом блоге делюсь советами, полезными ссылками, своими мыслями и&nbsp;просто интересными находками о&nbsp;доступной разработке ✨</p>
				<p>Если появились вопросы по блогу или доступности, можете задать их мне в <a href="{{ links.social.twitter }}">Твиттере</a>.</p>
			</div>

			<section aria-labelledby="heading">
				<h2 id="heading" class="second-heading">Последние посты</h2>

				{% set maxPosts = collections.post.length | min(3) %}
				{% set postslist = collections.post | slice(-3) %}
				<div class="cards cards--w-margin">
					{% include "card.njk" %}
				</div>

				{% if maxPosts === 3 %}
					<a class="all-posts-link" href="{{ '/posts' | url }}">Все посты</a>
				{% endif %}
			</section>

		</main>
	</div>
</div>
