---
title: Все посты — Код без барьеров
description: Список всех постов, опубликованных ранее в блоге.
layout: page.njk
permalink: posts.html
---

<div class="container">
	<div class="content">
		<div class="invisible-anchor" id="main-content"></div>
		<main class="main">
			<h1 class="first-heading">Все посты</h1>

			{% set postslist = collections.post %}
			<div class="cards">
				{% include "card.njk" %}
			</div>
		</main>
	</div>
</div>
