{%- for post in postslist | reverse -%}
	<article class="card">
		<h3 class="third-heading card__title">
			<a class="card__title-link" href="{{ post.url }}">{{ post.data.title }}</a>
		</h3>
		<p class="card__description">{{ post.data.description }}</p>
		<span class="card__post-date">
			<span aria-hidden="true">🕠</span>
			<time datetime="{{ post.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
		</span>
		<ul class="tags-list tags-list--card">
			{%- for tag in post.data.keyTheme -%}
				<li class="tag">{{ tag }}</li>
			{%- endfor -%}
		</ul>
	</article>
{%- endfor -%}
