<footer class="page__footer footer content">
	{% include "../assets/footer-wave.svg" %}
	<small class="footer__info">
		© Фокина Татьяна, 2021–{{ site.currentYear }}
	</small>
	<small class="footer__info">
		Блог разработан на <a href="{{ links.copyright.eleventy }}">11ty</a>, иконки с <a href="{{ links.copyright.iconfinder}}">Iconfinder</a>, исходный код в <a href="{{ links.public.github }}">репозитории на GitHub</a>
	</small>
</footer>
