<footer class="footer">
	{% include "../assets/footer-wave.svg" %}

	<div class="content content__footer">
		<div class="footer__copyright">
			<small class="footer__info">© Фокина Татьяна, {{ site.currentYear }}</small>
			<small class="footer__info">
				Блог разработан на <a href="{{ links.copyright.eleventy }}" target="_blank" rel="noopener noreferrer">11ty</a>, иконки с <a href="{{ links.copyright.iconfinder}}" target="_blank" rel="noopener noreferrer">Iconfinder</a>
			</small>
		</div>
	</div>
</footer>
