<a class="skip-link" href="#main-content">К основному контенту</a>

<header class="header">
	<div class="content">
		<div class="content__header">

			{% include "logo.njk" %}

			{% include "menu.njk" %}

		</div>
	</div>
</header>
