<nav class="nav">
	{% include "logo.njk" %}

	<ul class="nav__list">
		<li class="nav__list-item">
			<a class="nav__list-link" href="{{ links.social.rss }}">
				{% include "../assets/ico-rss.svg" %}
				<span class="nav__list-text">RSS</span>
			</a>
		</li>
	</ul>
</nav>

{% include "theme-switcher.njk" %}
