<nav class="nav">
	<ul class="nav__menu">
		<li class="nav__menu-item">
			<a class="nav__menu-link" href="{{ links.social.twitter }}" target="_blank" rel="noopener noreferrer">
				{% include "../assets/ico-twitter.svg" %}
				<span class="visually-hidden">Твиттер</span>
			</a>
		</li>
		<li class="nav__menu-item">
			<a class="nav__menu-link" href="{{ links.social.twitter }}" target="_blank" rel="noopener noreferrer">
				{% include "../assets/ico-rss.svg" %}
				<span class="visually-hidden">RSS</span>
			</a>
		</li>
	</ul>
</nav>
