<section class="theme-switcher" aria-label="Тема">
	<button class="theme-switcher__button" aria-pressed="true" value="light">Светлая</button>
	<button class="theme-switcher__button" aria-pressed="false" value="dark">Тёмная</button>
</section>
